<% provide(:title, @topic.problem) %>
<h1><%= @topic.problem %></h1>
<p class="lead">Background Information: <%= @topic.description %></p>

<% if signed_in? && current_user.mod? %>
	<% if @topic.microposts.pending.any? %>
	    <h3>Pending Review (<%= @topic.microposts.pending.count %>)</h3>
	    <ol class="microposts">
	    	<%= render partial: 'shared/micropost', collection: @microposts_pending %>
	    </ol>
	    <%= will_paginate @microposts_pending %>
	<% end %>
<% end %>

<% if @topic.microposts.approved.any? %>
    <h3>Solutions (<%= @topic.microposts.approved.count %>)</h3>
    <ol class="microposts">
    	<%= render partial: 'shared/micropost', collection: @microposts_approved %>
    </ol>
    <%= will_paginate @microposts_approved %>
<% end %>

<% if signed_in? && !current_user.mod? %>
	<div class="row">
	  <aside class="span8 offset2">
	    <section>
	      <%= render 'shared/user_info' %>
	    </section>
	    <section>
	      <%= render 'shared/micropost_form' %>
	    </section>
	  </aside>
	</div>
<% end %>