<% provide(:title, @topic.problem) %>
<h1><%= @topic.problem %></h1>
<p class="lead">Background Information: <%= @topic.description %></p>

<% if @topic.microposts.approved.any? %>
    <h3>Solutions (<%= @topic.microposts.count %>)</h3>
    <ol class="microposts">
    	<%= render partial: 'shared/micropost', collection: @microposts %>
    </ol>
    <%= will_paginate @microposts %>
<% end %>

<% if signed_in? && !current_user.mod?%>
	<div class="row">
	  <aside class="span8 offset2">
	    <section>
	      <%= render 'shared/user_info' %>
	    </section>
	    <section>
	      <%= render 'shared/micropost_form' %>
	    </section>
	  </aside>
	</div>
<% end %>