<div class="control-group">
	<div class="controls row-fluid control-label">
		<%= f.label :first_name, class: "span6 row", style: "margin:0" %>
		<%= f.label :last_name, class: "span6 row", style: "margin:0" %>
	</div>
	<div class="controls row-fluid">
		<%= f.text_field :first_name, class: "span6 row", style: "margin:0" %>
		<%= f.text_field :last_name, class: "span6 row", style: "margin:0" %>
	</div>
</div>

<%= f.label :email, "Email (college email address required)" %>
<%= f.text_field :email %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :password_confirmation, "Confirm Password" %>
<%= f.password_field :password_confirmation %>