<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
				<% if @user.mod? %>
					<br><h2 style="text-align:left">Moderator</h2>
				<% end %>
				<% if @user.admin? && current_user.admin? %>
					<br><h2 style="text-align:left">Administrator</h2>
				<% end %>
			</h1>
			<br>
			<% if current_user?(@user) && current_user.admin? %>
				<%= render 'admin_interface' %>
			<% end %>
		</section>
	</aside>
	<div class="span8">
		<% if current_user?(@user) %>
			<% if @user.microposts.pending.any? %>
				<h3>Pending Review (<%= @user.microposts.pending.count %>)</h3>
				<ol class="microposts" %>
					<%= render @microposts_pending %>
				</ol>
			<% end %>
			<% if @user.microposts.approved.any? %>
				<h3>Approved Posts (<%= @user.microposts.approved.count %>)</h3>
				<ol class="microposts" %>
					<%= render @microposts_approved %>
				</ol>
			<% end %>
		<% end %>
		<% if current_user?(@user) && current_user.mod? %>
			<%= render 'topics/mod_interface' %>
		<% end %>
	</div>
</div>